<!doctype html>
<title>Python Flask Corrosion Image Upload</title>
<h2>Select a file of rusted metal you wan to detect to upload</h2>
<h2>Support .jpg and .jpeg file</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>

{% if filename %}
	<div>
		<img src="{{ url_for('display_image', filename=filename) }}">
	</div>
{% endif %}



<form method="post" action="{{ url_for('upload_image_testing') }}" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit and Evaluate by testing model">
	</p>
</form>



<form method="post" action="{{ url_for('upload_image_1') }}" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit and Evaluate by model 1 (My own)">
	</p>
</form>



<form method="post" action="{{ url_for('upload_image_2') }}" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit and Evaluate by model 2 (AUG)">
	</p>
</form>



<form method="post" action="{{ url_for('upload_image_3') }}" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit and Evaluate by model 3 (SEP)">
	</p>
</form>